div{
    background-color: beige;
    text-align: center;
    padding: 20px;
}
#foto{
    max-width: 10%;
    max-height: 10%;
}
#nombre{
    font-weight: bolder;
    font-style: italic;
    margin-top: 10%;
}
