<div>
    <a href="mailto:brunoezerossi@gmail.com"><img src="https://i.postimg.cc/QxWZ6Gdq/gmail-icon-icons-com-65438.png" id="Gmail"></a>
    <a href="https://www.facebook.com/brunao74"><img src="https://i.postimg.cc/J0SV1KPJ/fb-icon-icons-com-65434.png" id="Facebook"></a>
    <a href="https://www.instagram.com/brunao74"><img src="https://i.postimg.cc/pVStYXRT/Instagram-Rounded-icon-icons-com-61576.png" id="Instagram"></a>
    <a href="https://www.linkedin.com/in/brunoerossi/"><img src="https://i.postimg.cc/nzwNk085/sociallinkedin-member-70.png" id="Linkedin"></a>
    <a href="https://github.com/Brunao74"><img src="https://i.postimg.cc/fbM4TVjH/reddit-black-logo-icon-147088.png" id="GitHub"></a>
    </div>