<div class="row">
    <h1>Experiencia Laboral
        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
                Nueva Experiencia
            </button>
        </div>

        <div class="col lg 2"></div>
        <div class="col-lg-10">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Experiencia of expe">
                        <td *ngIf="isLogged">
                            <button type="button" class="btn btn-success" routerLink="/editexp/{{Experiencia.id}}" >EDITAR</button>
                        </td>
                        <td *ngIf="isLogged">
                            <button type="button" class="btn btn-success" (click)="delete(Experiencia.id)" >BORRAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li *ngFor="let Experiencia of expe">
                    <h1>{{Experiencia.empresa}}</h1>
                    <h2>{{Experiencia.cargo}}</h2>
                    <h2>{{Experiencia.tipo}}</h2>
                    <h3>{{Experiencia.anioinicio}}</h3> - <h3>{{Experiencia.aniofin}}</h3>
                </li>
                <p *ngFor="let Experiencia of expe">{{Experiencia.descripcionX}}</p>
            </ul>
        </div>


        <div class="col-lg-11">
           
        </div>
    </h1>
</div>