<div class="row">
    <h1>Experiencia Laboral
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Trabajo</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis tenetur, placeat dolore quasi impedit ipsum incidunt qui est ea, commodi nemo nesciunt officiis animi nostrum laudantium consequatur corrupti porro laborum.</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo2</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis tenetur, placeat dolore quasi impedit ipsum incidunt qui est ea, commodi nemo nesciunt officiis animi nostrum laudantium consequatur corrupti porro laborum.</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo3</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis tenetur, placeat dolore quasi impedit ipsum incidunt qui est ea, commodi nemo nesciunt officiis animi nostrum laudantium consequatur corrupti porro laborum.</p>
            </ul>
        </div>
    </h1>
</div>