<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 parte1">
            <a href="https://github.com/Brunao74/PorfolioBER">#PORFOLIO</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nobis, perferendis quos totam recusandae
                eum, vitae natus modi maiores eius impedit, consequatur deleniti! Ullam voluptas accusamus adipisci rem?
                Veniam, iste?</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 parte2">
            <img src="https://i.postimg.cc/9MFrTFVb/image.png" class="img-fluid imgproy">
        </div>
    </div>
</div>