<div>
    <a href=""><img src="../../../assets/fb_icon-icons.com_65434.png" id="Facebook"></a>
    <a href=""><img src="../../../assets/Instagram_Rounded_icon-icons.com_61576.png" id="Instagram"></a>
    <a href=""><img src="../../../assets/social_Twitter_38.png" id="Twitter"></a>
    <a href=""><img src="../../../assets/social_youtube_23.png" id="YouTube"></a>
    <a href=""><img src="../../../assets/reddit_black_logo_icon_147088.png" id="Reddit"></a>
    <a href=""><img src="../../../assets/github_original_wordmark_logo_icon_146506.png" id="GitHub"></a>
    <a href=""><img src="../../../assets/sociallinkedin_member_70.png" id="Linkedin"></a>
    <a href=""><img src="../../../assets/gmail_icon-icons.com_65438.png" id="Gmail"></a>
</div>
