<div class="row">
    <div class="col-lg-11">
    <h1>Habilidades </h1>
    </div>
    <div class="textcenter col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="74"
            [maxPercent]="100"
            [title]="'HTML'"
            [titleFontSize]="'2em'"
            [outerStrokeColor]= "'#57a6a6'"
            [innerStrokeColor]= "'#9edcdc'"
            [animationDuration]= "1100"
            [showUnits]= "false"
            [clockwise]= "false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="textcenter col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="74"
            [maxPercent]="100"
            [title]="'HTML'"
            [titleFontSize]="'2em'"
            [outerStrokeColor]= "'#57a6a6'"
            [innerStrokeColor]= "'#9edcdc'"
            [animationDuration]= "1100"
            [showUnits]= "false"
            [clockwise]= "false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="textcenter col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="74"
            [maxPercent]="100"
            [title]="'HTML'"
            [titleFontSize]="'2em'"
            [outerStrokeColor]= "'#57a6a6'"
            [innerStrokeColor]= "'#9edcdc'"
            [animationDuration]= "1100"
            [showUnits]= "false"
            [clockwise]= "false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="textcenter col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="74"
            [maxPercent]="100"
            [title]="'HTML'"
            [titleFontSize]="'2em'"
            [outerStrokeColor]= "'#57a6a6'"
            [innerStrokeColor]= "'#9edcdc'"
            [animationDuration]= "1100"
            [showUnits]= "false"
            [clockwise]= "false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="textcenter col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="74"
            [maxPercent]="100"
            [title]="'HTML'"
            [titleFontSize]="'2em'"
            [outerStrokeColor]= "'#57a6a6'"
            [innerStrokeColor]= "'#9edcdc'"
            [animationDuration]= "1100"
            [showUnits]= "false"
            [clockwise]= "false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="74"
            [maxPercent]="100"
            [title]="'HTML'"
            [titleFontSize]="'2em'"
            [outerStrokeColor]= "'#57a6a6'"
            [innerStrokeColor]= "'#9edcdc'"
            [animationDuration]= "1100"
            [showUnits]= "false"
            [clockwise]= "false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
</div>